body {
    font-family: sans-serif;
    text-align:center;
}
#calculadora {
    font: bold 14px Arial,sans-serif;
    background-color: #9DD2EA;
    border-radius: 3px;
    height: auto;
    margin: 0 auto;
    padding: 20px 20px 9px;
    width: 295px;
    /* width:70% */
}
.parteSuperior .pantalla {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #FFFFFF;
    float: right;
    font-size: 17px;
    /* height: 40px; */
    height: 80px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 10px;
    text-align: right;
    width: 180px;
    font-size: 30px;/**/

}
.teclas, .parteSuperior {
    overflow: hidden;
}
*{
    font-size: 30px;/**/
}
.teclas span, .parteSuperior span.limpiar {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #888888;
    cursor: pointer;
    float: left;
    /* height: 36px; */
    height: 80px;/**/
    line-height: 36px;
    margin: 0 7px 11px 0;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 66px;
}
.parteSuperior span.limpiar {
    background-color:#FF7C87;
}
.teclas span.operador {
    background-color: #FFDAB9;
    margin-right: 0;
}
.teclas span.igual {
    background-color: #F1FF92;
    color: #888E5F;
}
.parteSuperior span.limpiar {
    background-color: #FF9FA8;
    color: #FFFFFF;
}
.teclas span:hover, .teclas span.igual:hover, .parteSuperior span.limpiar:hover {
    background-color: #9C89F6;
    color: #FFFFFF;
}